// app global css in SCSS form
body {
    background-color: $dark-page;
    font-size:medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $light;
}

.q-drawer {
    background-color: $dark-page;
}

.q-card.hero{
    width: 100%;
    background-color: $primary-dark;
}

.q-card.item {
    width: 250px;
    height: 350px;
    background-color: $dark;
}

.dark-banner {
    background-color: $primary;
}

.hero-icon-img {
    height: 150px;
}

.q-tab {
    background-color: $primary;
    color: $light;
}

.q-tab-panels {
    background-color: $primary-dark;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh
}

.item-img {
    height: 200px;
}
.weapons{
    background-color: $weapon;
}
.vitality {
    background-color: $vitality;
}
.spirit {
    background-color: $spirit;
}


@media (max-width: 600px) {
    .q-tab-panels {
        height: 75vh
    }
}