// app global css in SCSS form
body {
    background-color: $dark-page;
    font-size:medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $light;
}

.q-drawer {
    background-color: $dark-page;
}

.q-card.hero{
    width: 100%;
    background-color: $primary-dark;
}

.q-card.item {
    width: 250px;
    height: 350px;
    background-color: $dark;
}

.dark-banner {
    background-color: $primary;
}

.hero-icon-img {
    height: 150px;
}

.q-tab {
    background-color: $primary;
    color: $light;
}

.q-tab-panels {
    background-color: $primary-dark;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh
}

.item-img {
    height: 200px;
}
.weapon{
    background-color: $weapon;
}
.vitality {
    background-color: $vitality;
}
.spirit {
    background-color: $spirit;
}

.item, .hero {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 15px rgba(0, 119, 255, 0.1);
    cursor: pointer;
}

.hero:hover {
    transform: translateX(10px);
    box-shadow: 0 4px 15px rgba(0, 119, 255, 0.1);
    cursor: pointer;
}

@media (max-width: 600px) {
    .q-tab-panels {
        height: 75vh
    }
}

// Scroll Bar Style
.q-drawer {
    scrollbar-width: thin;
    /* Firefox: Makes the scrollbar thinner */
    scrollbar-color: $primary $dark;
    /* Firefox: Colors for thumb and track */
}

/* For WebKit browsers (e.g., Chrome, Edge, Safari) */
.q-drawer::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.q-drawer::-webkit-scrollbar-track {
    background: $dark;
    /* Background color of the track */
}

.q-drawer::-webkit-scrollbar-thumb {
    background-color: $primary;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
    border: 1px solid $dark;
    /* Optional: Border for better contrast */
}
