// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #075fa7;
$primary-slight-dark : #012b4d;
$primary-dark : #070e14;
$primary-light : #2b90e2;
$secondary : #424242;
$accent    : #ff8928;

$dark      : #1D1D1D;
$dark-page : #19191f;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$light     : #ffffff;

$weapon    : rgb(201, 130, 0);
$vitality  : rgb(32, 143, 4);
$spirit    : rgb(160, 78, 177);

$weapon-dark : rgb(150, 98, 3);
$vitality-dark : rgb(22, 105, 1);
$spirit-dark : rgb(102, 51, 112);

$weapon-darker : rgb(100, 65, 0);
$vitality-darker : rgb(17, 87, 0);
$spirit-darker : rgb(74, 36, 82);
